html {
    background-color: rgb(50, 50, 50);
    color: #e1e1e1;
}

/*********************************
 global navigation 
**********************************/
header {
    width: 100%;
    background-color: rgb(24, 24, 24);
    top: 0;
    align-items: center;
}

header h1{
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    line-height: 500px;
    display: block;
    text-align: center;
}

header ul {
    display: flex;
    align-items: center;
    right: 0;
}

header ul li{
    margin: auto;
    width: 20%;
}

header ul li a {
    padding: 25px 0;
    text-align: center;
    display: block;
}

header li :hover{
    background-color: rgb(56, 56, 56);   
    transition: background-color .5s;
}

.global-nav {
    margin: 0 auto;
    width: 80%;
}

/*********************************
 footer style
**********************************/
footer {
    width: 100%;
    background-color: rgb(24, 24, 24);
    position: relative;
    bottom: 0;
    text-align: center;
    line-height: 70px;
}

/*********************************
 contents style
**********************************/

.contents {
    width: 80%;
    height: 100%;
    margin: auto;
}

.contents h1 {
    font-size: 20px;
    margin: 10px 0; 
    padding: 0px 10px;
    border-left: thick solid #e1e1e1;
    font-weight: bold;
}

.contents section {
    margin: 30px 0;
}